.navigation-bar{
    background-color: #20e020;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
    height: 70px;
    border-radius: 10px;

}

.navigation-bar a{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

.navigation-bar a:hover{
    text-shadow: 2px 2px 4px whitesmoke;
}

.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/*end of the navigation bar. copy paste from yousef css index*/


.event {
    display: flex; /*flexbox to align image and text horizontally */
    align-items: center; /* Vertically center align */
    margin-bottom: 20px ; /* Add space between events */
    box-sizing: border-box;
    padding: 10px;
}

.event-content {
    display: flex; /* Flexbox for aligning image and description */
    align-items: center; /* Vertically align content */
    gap: 20px; /* Space between image and text */
}

.event img {
    width: 400px; /*fixed images width*/
    height: auto;
    border-radius: 10px; /*rounded corners for images*/
}

.event-description{
    flex-grow: 1;    /* Allow the description to take up remaining space */

}

.event-description h3{
    color: #333;
    font-size: 18px;
    font-weight: normal;        /* Adjust font weight for readability */
    text-align: left;           /* Align text to the left */
}

.container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; /* Align items to the start */
    gap: 20px; /* Space between the logo and text */
}

.container img{
    width: 400px; /*fixed images width*/
    height: auto;
    border-radius: 10px; /*rounded corners for images*/
}

#Join-us {
    max-width: 600px; /* Adjust width of the section */
    line-height: 1.6; /* Improve text readability */
}

h1{
    text-align: center;
    color: green;
}

h2{
    text-align: center;
    color: darkcyan;
}

h3{
    text-align: center;
}
h4{
    text-align: center;
    color: limegreen;
    font-size: xx-large;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
}

h4:hover {
    transform: scale(1.1); /* Scale up on hover */
}

/* Footer */
footer {
    display: flex;
    align-items: flex-start;
    background-color: #20e020;
    height: 100px;
    justify-content: space-around;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    color: darkslategrey;
}

.socials {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    gap: 15px;
}

.socials img {
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

.footer-logo {
    width: 80px;
    height: 80px;
}
