<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forår 2024: Genbrug mit overskudsmad?</title>
    <link rel="stylesheet" type="text/css" href="/CSS-Organisation.css">
</head>
<body>
<!-- Shouldn't we make a class to the navigation bar, that we implement in each of classes:
index, organisation, virksomhed, for at avoid redundancy?-->
<nav class="navigation-bar">
    <a th:href="@{/index}" class="home">
        <img class="logo" src="https://img.freepik.com/premium-vector/circular-illustration-green-bucket-with-leaves_339976-60626.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid"></img>
    </a>
    <a th:href="@{/organisation}" class="Organisation">Organisation</a>
    <a th:href="@{/virksomhed}" class="Virksomhed">Virksomhed</a>
    <a th:href="@{/about}" class="Om os">Om os</a>
</nav>

<h1>Forår 2024: Genbrug mit overskudsmad?</h1>

<div>
    <h5>Eventet "Forår 2024: Genbrug mit overskudsmad" havde som mål at øge bevidstheden om madspild.</h5>
    <h5>og inspirere til mere bæredygtige madvaner.</h5>
    <h5>Gennem en række workshops, hvor deltagerne lærte at planlægge måltider,</h5>.
    <h5>opbevare mad korrekt og kreere nye retter af rester,</h5>
    <h5>blev der skabt en fælles forståelse for, hvor meget mad vi faktisk smider ud.</h5>
    <h5>Evalueringer viste, at deltagerne følte sig mere motiverede til at reducere deres eget madspild</h5>
    <h5>og var begejstrede for de konkrete tips og tricks,</h5>
    <h5>Eventet har således bidraget til at skabe en positiv forandring</h5>
    <h5>i forhold til madspildskulturen på arbejdspladsen.</h5>
</div>

<section id="event">
    <div class="event">
        <div class="event-content">
            <img src="images/hent1.jpeg" alt="billede 1 i forår2024">
            <div class="event-description">
                <h3>En farverig tallerken fra eventet med hjemmelavet mad,</h3>
                <h3>fyldt med grøntsager og krydderier,</h3>
                <h3>er en eksempel af de lækre retter der blev skabt under eventet.</h3>
            </div>
        </div>
    </div>

    <div class="event">
        <div class="event-content">
            <img src="images/hent2.jpeg" alt="billede 2 i forår2024">
            <div class="event-description">
                <h3>Dette billede, taget direkte fra vores event "Forår 2024: Genbrug mit overskudsmad",</h3>
                <h3>viser tydeligt, hvorfor vi har brug for at handle.</h3>
                <h3>Hver eneste rest af mad kan være en ressource, der går til spilde.</h3>
            </div>
        </div>
    </div>

    <div class="event">
        <div class="event-content">
            <img src="images/hent3.jpeg" alt="billede 3 i forår2024">
            <div class="event-description">
                <h3>Spild ikke maden, spild ikke smagen!</h3>
                <h3>Dette billede fra eventet illustrerer et farverigt udvalg af friske råvarer,</h3>
                <h3>klar til at blive omdannet til lækre måltider, dannet af madrester.</h3>
            </div>
        </div>
    </div>

</section>




<h4> Sammen står vi for en mere bæredygtig fremtid for Danmark.</h4>


<footer>
    <img class="footer-logo" src="https://img.freepik.com/premium-vector/circular-illustration-green-bucket-with-leaves_339976-60626.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid">
    <div class="socials">
        <p>Socials: </p>
        <a><img src="https://img.freepik.com/free-psd/social-media-logo-design_23-2151296987.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid"></a>
        <a><img src="https://img.freepik.com/free-vector/instagram-icon_1057-2227.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid"></a>
        <a><img src="https://img.freepik.com/free-psd/social-media-logo-design_23-2151296991.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid"></a>
    </div>
    <p><strong>Address: </strong>Guldbergsgade 29N, 2200 København</p>
    <p><strong>CVR: </strong>12356345</p>
</footer>


</body>
</html>

</body>
</html>