<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"><link rel="stylesheet" type="text/css" href="/MyCSS_index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="/MyCSS_index.css">
    <title>Danmark Mod madspild</title>
</head>
<body>
<nav class="navigation-bar">
    <!-- grøn til navigation bar inspisperer madspild  -->
    <a th:href="@{/index}" class="home">
        <img class="logo" src="https://img.freepik.com/premium-vector/circular-illustration-green-bucket-with-leaves_339976-60626.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid"></img>
    </a>
    <a th:href="@{/organisation}" class="Organisation">Organisation</a>
    <a th:href="@{/virksomhed}" class="Virksomhed">Virksomhed</a>
    <a th:href="@{/about}" class="Om os">Om os</a>
</nav>
    <div class="info">
        <h1>Danmark - Mod madspild</h1>
        <div class="statistic">
            <ul>
                <li>Hvert år går 227.000 tons mad til spilde i den danske servicesektor alene. Til sammenligning smider husholdningerne 261.000 tons mad væk om året.</li>
                <li>Detailhandlen er den største synder i servicesektoren, med 163.000 tons madspild hvert år – det svarer til hele 72% af sektorens samlede spild.</li>
                <li>Hvem står for spildet? Specialforretninger som slagtere, fiskeforretninger og grønthandlere står for 12.000 tons om året, mens supermarkeder, kiosker og varehuse bidrager med 151.000 tons madspild.</li>
            </ul>

            <img src="https://img.freepik.com/free-photo/arrangement-compost-made-rotten-food-with-copy-space_23-2149073761.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid">
        </div>

        <div class="diagram">
            <img src="https://static.wixstatic.com/media/d13dbe_179b497a75bf4c62934ac2075a5e0c56~mv2.png/v1/fill/w_858,h_535,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/JASSSSSSSS_PNG.png">
            <p>Blandt det årlige madforbrug forekommer størstedelen af madspild i husholdninger, detailhandel og fødevareindustrien. Madspild har alvorlige konsekvenser for både miljøet og økonomien. Ressourcer som vand, energi og jord går tabt, og spildt mad udleder metan, der bidrager til klimaforandringer. Husholdninger står for over en tredjedel af det samlede madspild, hvilket også medfører store økonomiske omkostninger. Ved at reducere madspild kan vi beskytte miljøet, spare penge og sikre, at flere mennesker får adgang til mad.</p>
        </div>

        <div class="forbruger-tips">

            <h1>Hvad kan du gøre?</h1>

            <ul>
                <li><strong>Lav en madplan:</strong> Planlæg måltider, så du kun køber og bruger det nødvendige. Det sparer mad, penge og tid.</li>
                <li><strong>Lav indkøbsseddel og køb ind til flere dage:</strong> Undgå impulskøb ved at handle med en liste. Så køber du kun, hvad du har brug for.</li>
                <li><strong>Køb kun det nødvendige:</strong> Lad dig ikke friste af mængderabatter, hvis du ikke kan nå at bruge alt.</li>
                <li><strong>Gem rester i køleskabet eller fryseren:</strong> Opbevar overskydende mad, og spis ældste varer først for at undgå spild.</li>
                <li><strong>Brug dine rester kreativt:</strong> Lav wok, tærte, eller croutoner af rester. Fantasien er din ven!</li>
                <li><strong>Vær opmærksom på holdbarheden:</strong> Brug din sunde fornuft og vær opmærksom på "også god efter"-mærket for at undgå unødvendigt spild.</li>
            </ul>


        </div>
    </div>
    <footer>
        <img class="footer-logo" src="https://img.freepik.com/premium-vector/circular-illustration-green-bucket-with-leaves_339976-60626.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid">
        <div class="socials">
            <p>Socials: </p>
            <a><img src="https://img.freepik.com/free-psd/social-media-logo-design_23-2151296987.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid"></a>
            <a><img src="https://img.freepik.com/free-vector/instagram-icon_1057-2227.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid"></a>
            <a><img src="https://img.freepik.com/free-psd/social-media-logo-design_23-2151296991.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid"></a>
            </div>
        <p><strong>Address: </strong>Guldbergsgade 29N, 2200 København</p>
        <p><strong>CVR: </strong>12356345</p>
    </footer>




</body>
</html>