<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Organisation</title>
    <link rel="stylesheet" type="text/css" href="/CSS-Organisation.css">
</head>

<body>

<nav class="navigation-bar">
    <a href="/index" class="logo-link">
        <img class="logo" src="https://img.freepik.com/premium-vector/circular-illustration-green-bucket-with-leaves_339976-60626.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid" alt="Logo">
    </a>
    <div class="nav-links">
        <a href="/organisation" class="nav-item">Organisation</a>
        <a href="/virksomhed" class="nav-item">Virksomhed</a>
        <a href="/about" class="nav-item">Om os</a>
    </div>
</nav>
<!--end of navigation bar-->

    <section id="volontær projekter">
        <h1>Her kan du se en liste over de tidligere projekter med success.</h1>

        <div class="event">
                <div class="event-image">
                    <a th:href="@{/Sommer2023}">
                        <img src="images/sommer2023.jpeg" alt="Sommer 2023: stoppe madspild på mit arbejdsplads">
                    </a>
                    <div class="event-description">
                        <h6>Sommer 2023: stoppe madspild på mit arbejdsplads</h6>
                        <h3>Sommeren 2023 lancerede vi et initiativ for at reducere madspild på arbejdspladsen.</h3>
                        <h3>Ved at implementere nye rutiner for indkøb og portionsanpasning,</h3>
                        <h3>samt ved at opfordre medarbejderne til at være mere opmærksomme på deres madvaner,</h3>
                        <h3>lykkedes det os at få medarbejderne til at fokusere på at reducere madspild.</h3>
                        <h3>En madspildskonkurrence bidrog til at skabe engagement blandt medarbejderne,</h3>
                        <h3>og vi lærte, at det er vigtigt at involvere alle for at opnå succes.</h3>
                        <h5>tryk på billedet for mere informationer</h5>
                    </div>
                </div>
        </div>

        <div class="event">
                <div class="event-image">

                    <div class="event-description">
                        <h6>Sommeren 2022 var et vendepunkt i kampen mod madspild i Danmark.</h6>
                        <h3>Flere initiativer blev sat i gang for at reducere den mængde mad,</h3>
                        <h3>der hvert år ender i skraldespanden.</h3>
                        <h3>Et af de vigtigste skridt var lanceringen af Danmarks første madspildsstrategi.</h3>
                        <h3>Strategien indeholder en række tiltag, der skal bidrage til at reducere madspild i hele fødevarekæden,</h3>
                        <h3>fra produktion til forbrug.</h3>
                        <h5>tryk på billedet for mere informationer</h5>
                    </div>
                    <a th:href="@{/Sommer2022}">
                        <img src="images/sommer2022.jpeg" alt="sommer2022">
                    </a>
                </div>
        </div>

        <section class="parallax-section">
        </section>


        <div class="event">
            <div class="event-image">
                <a th:href="@{/Foraar2024}">
                    <img src="images/foraar2024.jpeg" alt="Forår 2024: Genbrug mit overskudsmad?">
                </a>
                <div class="event-description">
                    <h6>Forår 2024: Genbrug mit overskudsmad?</h6>
                    <h3>Forårets event opfordrede folk til at tænke over deres madvaner</h3>
                    <h3>og være mere kreative i køkkenet.</h3>
                    <h3>Gennem en række initiativer, såsom opskrifter, tips og tricks,</h3>
                    <h3>lærte deltagerne, hvordan de kunne få mere ud</h3>
                    <h3>af deres madvarer og mindske deres madspild.</h3>
                    <h5>tryk på billedet for mere informationer</h5>
                </div>
            </div>
        </div>

        <div class="event">
            <div class="event-image">
                <div class="event-description">
                    <h6>Sommeren 2022 var et vendepunkt i kampen mod madspild i Danmark.</h6>
                    <h3>Flere initiativer blev sat i gang for at reducere den mængde mad,</h3>
                    <h3>der hvert år ender i skraldespanden.</h3>
                    <h3>Et af de vigtigste skridt var lanceringen af Danmarks første madspildsstrategi.</h3>
                    <h3>Strategien indeholder en række tiltag, der skal bidrage til at reducere madspild i hele fødevarekæden,</h3>
                    <h3>fra produktion til forbrug.</h3>
                    <h5>tryk på billedet for mere informationer</h5>
                </div>
                <a th:href="@{/Sommer2024}">
                    <img src="images/sommer2024.png" alt="Sommer 2024: mindst holdbar til VS. bedst før">
                </a>
            </div>
        </div>
    </section>

<div class="container">
    <img src="images/logo.jpeg" alt="Logo" class="logo">
    <section id="Join-us">
        <h1>Vil du være med?</h1>
        <h2>Her kan du se en guideline over, hvem der kan tilslutte sig Danmark mod Madspild.</h2>
        <p>For at blive en del af Danmark mod Madspild, skal din organisation:</p>
        <p> 1. have fælles mål: bæredygtighed og grøn fremtid </p>
        <p> 2. have aktivt Engagement: </p>
        <p> Deltage i fælles initiativer og kampagner.</p>
        <p>Bidrage med ekspertise og ressourcer til fælles projekter. </p>
        <p> 3. transparens:</p>
        <p> Være åben om sine tiltag og resultater.</p>
        <p> Deltage i fælles evalueringer og rapporteringer.</p>
        <h3>Er du klar til at gøre en forskel?</h3>
        <h3> Hvis din organisation opfylder disse retningslinjer,</h3>
        <h3>er du velkommen til at kontakte os for at blive en del af vores fællesskab.</h3>

    </section>
</div>

<h4> Sammen står vi for en mere bæredygtig fremtid for Danmark.</h4>


<footer>
    <img class="footer-logo" src="https://img.freepik.com/premium-vector/circular-illustration-green-bucket-with-leaves_339976-60626.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid">
    <div class="socials">
        <p>Socials: </p>
        <a><img src="https://img.freepik.com/free-psd/social-media-logo-design_23-2151296987.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid"></a>
        <a><img src="https://img.freepik.com/free-vector/instagram-icon_1057-2227.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid"></a>
        <a><img src="https://img.freepik.com/free-psd/social-media-logo-design_23-2151296991.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid"></a>
    </div>
    <p><strong>Address: </strong>Guldbergsgade 29N, 2200 København</p>
    <p><strong>CVR: </strong>12356345</p>
</footer>


</body>
</html>