<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Organisation</title>
    <link rel="stylesheet" type="text/css" href="/CSS-Virksomhed.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
</head>

<body>

<!-- Shouldn't we make a class to the navigation bar, that we implement in each of classes:
index, organisation, virksomhed, for at avoid redundancy?-->
<nav class="navigation-bar">
    <a href="/index" class="logo-link">
        <img class="logo" src="https://img.freepik.com/premium-vector/circular-illustration-green-bucket-with-leaves_339976-60626.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid" alt="Logo">
    </a>
    <div class="nav-links">
        <a href="/organisation" class="nav-item">Organisation</a>
        <a href="/virksomhed" class="nav-item">Virksomhed</a>
        <a href="/about" class="nav-item">Om os</a>
    </div>
</nav>
<!--end of navigation bar-->

    <section id="volontær projekter">
        <h1>Her kan du se en liste over de tidligere projekter med success.</h1>

        <div class="event-1">
            <div class="event-image">
                <a th:href="@{/Sommer2024}">
                    <img src="images/sommer2024.png" alt="Sommer 2024: mindst holdbar til VS. bedst før">
                </a>
            </div>
                <div class="event-description">
                    <h6>Sommer 2024: mindst holdbar til VS. bedst før</h6>
                    <h3>Sommeren 2024 var præget af en øget fokus på fødevareforbrug og madspild.</h3>
                    <h3>En central del af denne bevægelse var en kampagne,</h3>
                    <h3>der uddybede forskellen mellem</h3>
                    <h3>"Mindst Holdbar Til" og "Bedst Før"-mærkningerne på fødevarer.</h3>
                    <h5>tryk på billedet for mere informationer</h5>
                </div>

        </div>

        <div class="event-2">

                <div class="event-description">
                    <h6>Forår 2024: Genbrug mit overskudsmad?</h6>
                    <h3>Forårets event opfordrede folk til at tænke over deres madvaner</h3>
                    <h3>og være mere kreative i køkkenet.</h3>
                    <h3>Gennem en række initiativer, såsom opskrifter, tips og tricks,</h3>
                    <h3>lærte deltagerne, hvordan de kunne få mere ud</h3>
                    <h3>af deres madvarer og mindske deres madspild.</h3>
                    <h5>tryk på billedet for mere informationer</h5>
                </div>
            <div class="event-image">
                <a th:href="@{/Foraar2024}">
                    <img src="images/foraar2024.jpeg" alt="Forår 2024: Genbrug mit overskudsmad?">
                </a>
            </div>
        </div>

        <section class="parallax-section">
        </section>

        <div class="event-3">
            <div class="event-image">
                <a th:href="@{/Sommer2023}">
                    <img src="images/sommer2023.jpeg" alt="Sommer 2023: stoppe madspild på mit arbejdsplads">
                </a>
            </div>
                <div class="event-description">
                    <h6>Sommer 2023: stoppe madspild på mit arbejdsplads</h6>
                    <h3>Sommeren 2023 lancerede vi et initiativ for at reducere madspild på arbejdspladsen.</h3>
                    <h3>Ved at implementere nye rutiner for indkøb og portionsanpasning,</h3>
                    <h3>samt ved at opfordre medarbejderne til at være mere opmærksomme på deres madvaner,</h3>
                    <h3>lykkedes det os at få medarbejderne til at fokusere på at reducere madspild.</h3>
                    <h3>En madspildskonkurrence bidrog til at skabe engagement blandt medarbejderne,</h3>
                    <h3>og vi lærte, at det er vigtigt at involvere alle for at opnå succes.</h3>
                    <h5>tryk på billedet for mere informationer</h5>
                </div>

        </div>

        <div class="event-4">

                <div class="event-description">
                    <h6>Sommeren 2022 var et vendepunkt i kampen mod madspild i Danmark.</h6>
                    <h3>Flere initiativer blev sat i gang for at reducere den mængde mad,</h3>
                    <h3>der hvert år ender i skraldespanden.</h3>
                    <h3>Et af de vigtigste skridt var lanceringen af Danmarks første madspildsstrategi.</h3>
                    <h3>Strategien indeholder en række tiltag, der skal bidrage til at reducere madspild i hele fødevarekæden,</h3>
                    <h3>fra produktion til forbrug.</h3>
                    <h5>tryk på billedet for mere informationer</h5>
                </div>
            <div class="event-image">
                <a th:href="@{/Sommer2022}">
                    <img src="images/sommer2022.jpeg" alt="sommer2022">
                </a>
            </div>
        </div>

        </section>

<h1>Vil du være med?</h1>


<div class="container">
    <img src="images/logo.jpeg" alt="Logo" class="logo">

    <section id="Join-us">
        <div class="container-text">
        <div>
        <h2>Her kan du se en guideline over, hvem der kan tilslutte sig Danmark mod Madspild.</h2>
        <p>For at blive en del af Danmark mod Madspild, skal din organisation:</p>
        <p> 1. have fælles mål: bæredygtighed og grøn fremtid </p>
        <p> 2. have aktivt Engagement: </p>
        <p> Deltage i fælles initiativer og kampagner.</p>
        <p>Bidrage med ekspertise og ressourcer til fælles projekter. </p>
        <p> 3. transparens:</p>
        <p> Være åben om sine tiltag og resultater.</p>
        <p> Deltage i fælles evalueringer og rapporteringer.</p>
        <p>Er du klar til at gøre en forskel?</p>
        <p> Hvis din organisation opfylder disse retningslinjer,</p>
        <p>er du velkommen til at kontakte os for at blive en del af vores fællesskab.</p>
        </div>
        </div>
    </section>
</div>

<h4> Sammen står vi for en mere bæredygtig fremtid for Danmark.</h4>


<footer>
    <img class="footer-logo" src="https://img.freepik.com/premium-vector/circular-illustration-green-bucket-with-leaves_339976-60626.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid">
    <div class="socials">
        <p>Socials: </p>
        <a class="facebook-icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAcFJREFUSEu11T+oT2EYwPHPLYUwyCIki0GRjKRkEJIuMYgsFDKIlAzyJxnUFQburTtYlEEU+TORQWajvyXCYjAoinCeen86vZ3znt8P92znff58n+d9/rxDJvgbmmD/ugCTsQXrsBQL8Atv8BT3cRPf2wItAdbjcnJaSvQV9uFBk1Ib4GQV6YkBru8njuBcbtMEOIXjAzivqx7ExfpBDtiI2wXnn3AYj/A26Y2ks/iNTFbhcc9HHTAdLzG7BfADi/E8k9cBIQr5kl7h64Ao1Ggh+mvYXpOvwQqsxfLMbhNuxVkdcAcbCoBjOJPkW3G9oDuOPTngPeYUjA7hQpJHMc8XdGNGluWAr5jynwCfq26amQO+YFoG+NiRVag/xOrMLnzNyAEvsDBT/IC5HTPxDvMynWdYlAOuVm26Y8AMYld9awjgSjUnu3LANkQrtn2DFLmxTSfhNea3EPoF/LmePIP4jw167x8AscpX4knPR9Oyi2V1oAHSTwan80XZBIizsd4k1kBdgLNVwY/mgZUenJ1pWmclozZAbIC9uNt0tV1P5lTsxub0NF5KTvZjuNqaNxAt+VdPZsd89SfuyqA/LwWt33YeVhnsaaE0AAAAAElFTkSuQmCC"/></a>
        <a class="instagram-icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAeNJREFUSEvF1T+ozmEUB/DPdUlSN5KUwcLtJv/jjpiMZHCVYjESxSCDlAwGJYrproRBYpJFuotYkKRkUCYWhZL/z9Hze3s8fr/cN73dM73vOec533O+589vyIBlaMDxzRjAchzFZqymM5GfeIYpnMfLmpG2Cg5k5zl90vcVBzFZvqsBNuIhZvUZvHH/hk140ihqgJvY2Ufwt1iDCVzM724k2nZ1AbzGshaANziD51iEMRxH+AdAZP0ov3uFFV0AHzG/AribM/qAxdn2DqtwB59SzxZgSbaF30gbQPD+vQoegUZzsL3Yipic+ynLyxjOE1Q+iz70BqTsQSi/VABncSxlfgkxXaUE54dwG9sLQyQ5u62CUMaolbIft3LGsQ+lPMU6nEx7cqow/MiV/VaVFcTvMJYSc30tUXMPayvb4wS+ASdSwNOVrRe3HtPgt5TgeR8u4HBli809kivcUdg6exA+NUBUtB7zsAdbcqBo8tU0unNbmvw5+/9FUSjaxjRmPZYvKCkl7lTQt7TSv08VL2x0NUVxrHpLUjUuNrRctG1V4ObvC6zsArieguzueDhd9RXEzrRSNI4H/3ns4mDGCLcChHKg57oBLj84ccy6pPzgnEsjHYfuD5mxT+Z0G/pPv4FX8AszSlgZRYBdrAAAAABJRU5ErkJggg=="/></a>
        <a class="linkedin-icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAASxJREFUSEvl1TsvBFEYh/HfCp2Igso3oNXoKFQKIa6hk/AtJD6GS4m4h0InLo1G7xPoRKUl7Elem81erZndxlQzOe88z5z/Oe+cgjZfhTbzdVxwh/GMs7rHxA+jcgZfGeFV3EaC66ie+oO0xK0nOMBqgA+x3KKkqWAX6wHdw1regnfsowsr6M1b8IrngA5jsLgzHuJ5CP3YxgdGMFfxAU0jOsZSvHSERUo9M4MnvJRBN4vjW2XPTQUnAU3vJNlCxFVvG3fjDX0hySTowRVGQ5waK12PGMtDkLr0NkA72Ij7S0znIUhrcBGgWlGmoaYRncb0U3GCzCPl/IlZnIfgLMbK6/6JoFGjDURzpShq1f0qohb/DFXldRc5jwPnBpM/yo4fmVmjqZ9V7uQAfgNR+VIZag7oTQAAAABJRU5ErkJggg=="/></a>
    </div>
    <p><strong>Address: </strong>Guldbergsgade 29N, 2200 København</p>
    <p><strong>CVR: </strong>12356345</p>
</footer>


</body>
</html>