<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sommer 2024: mindst holdbar til VS. bedst før</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="/CSS-Virksomhed.css">
</head>
<body>

<nav class="navigation-bar">
    <a href="/index" class="logo-link">
        <img class="logo" src="https://img.freepik.com/premium-vector/circular-illustration-green-bucket-with-leaves_339976-60626.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid" alt="Logo">
    </a>
    <div class="nav-links">
        <a href="/organisation" class="nav-item">Organisation</a>
        <a href="/virksomhed" class="nav-item">Virksomhed</a>
        <a href="/about" class="nav-item">Om os</a>
    </div>
</nav>
<!--end of navigation bar-->

<h1>Sommer 2024: mindst holdbar til VS. bedst før</h1>

<section id="eventsommer2022">

    <div class="event">
        <div class="event-image">
            <img src="images/sommer2024_1.jpeg" alt="billede 2 i sommer2024">
            <div class="event-description">
                <h3>Et glimt fra vores sommer-event,</h3>
                <h3>hvor vi udfordrede vores vaner og smagte på nye muligheder.</h3>
                <h3>Sammen står vi for en mere bæredygtig fremtid.</h3>
            </div>
        </div>
    </div>

    <div class="event">
        <div class="event-image">
            <div class="event-description">
                <h3>"Mindst holdbar til... en ny begyndelse."</h3>
                <h3>Dette spiller på sloganet og understreger,</h3>
                <h3>at eventet markerede en ny måde at tænke om mad på. </h3>
            </div>
            <img src="images/sommer2024_2.jpg" alt="billede 2 i sommer2024">
        </div>
    </div>

    <div class="event">
        <div class="event-image">
            <img src="images/sommer2024_3.jpeg" alt="billede 3 i sommer2024">
            <div class="event-description">
                <h3>Denne infografik er super nyttig!</h3>
                <h3>Det er nemt at blive forvirret over de forskellige datoer på madvarer, </h3>
                <h3>men med denne guide</h3>
                <h3>kan man nemt se,</h3>
                <h3>hvad man kan gøre.💡</h3>
            </div>
        </div>
    </div>

    <section class="parallax-section">
    </section>

</section>

<h4> Sammen står vi for en mere bæredygtig fremtid for Danmark.</h4>


<footer>
    <img class="footer-logo" src="https://img.freepik.com/premium-vector/circular-illustration-green-bucket-with-leaves_339976-60626.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid">
    <div class="socials">
        <p>Socials: </p>
        <a><img src="https://img.freepik.com/free-psd/social-media-logo-design_23-2151296987.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid"></a>
        <a><img src="https://img.freepik.com/free-vector/instagram-icon_1057-2227.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid"></a>
        <a><img src="https://img.freepik.com/free-psd/social-media-logo-design_23-2151296991.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid"></a>
    </div>
    <p><strong>Address: </strong>Guldbergsgade 29N, 2200 København</p>
    <p><strong>CVR: </strong>12356345</p>
</footer>


</body>
</html>
