<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sommer 2022: et første skridt for at stoppe madspild</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
  <link rel="stylesheet" type="text/css" href="/CSS-Virksomhed.css">
</head>
<body>

<nav class="navigation-bar">
  <a href="/index" class="logo-link">
    <img class="logo" src="https://img.freepik.com/premium-vector/circular-illustration-green-bucket-with-leaves_339976-60626.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid" alt="Logo">
  </a>
  <div class="nav-links">
    <a href="/organisation" class="nav-item">Organisation</a>
    <a href="/virksomhed" class="nav-item">Virksomhed</a>
    <a href="/about" class="nav-item">Om os</a>
  </div>
</nav>
<!--end of navigation bar-->v>

<h1>Sommer 2022: et første skridt for at stoppe madspild</h1>

<section id="eventsommer2022">

    <div class="event">
      <div class="event-image">
          <img src="images/billede1.jpeg" alt="billede 1 i sommer2022">
          <div class="event-description">
            <h3>Dette billede, taget under event sommeren 2022, viser en alt for almindelig scene. </h3>
            <h3>Tonsvis af spiselig mad smides ud hver dag.</h3>
            <h3>Det er på tide, at vi handler for at stoppe dette enorme spild</h3>
          </div>
      </div>
    </div>

    <div class="event">
      <div class="event-image">
        <div class="event-description">
          <h3>Sommeren 2022 var et startskud på en ny indsats for at reducere madspild.</h3>
          <h3>Men der er stadig meget arbejde foran os.</h3>
          <h3>Hver portion, der bliver spist, er et skridt i den rigtige retning.</h3>
        </div>
        <img src="images/billede2.jpg" alt="billede 2 i sommer2022">
      </div>
    </div>

      <div class="event">
        <div class="event-image">
          <img src="images/billede3.jpg" alt="billede 3 i sommer2022">
          <div class="event-description">
            <h3> Ved at kompostere vores madrester </h3>
            <h3> kan vi bidrage til at bekæmpe klimaforandringer </h3>
            <h3> og sikre en mere bæredygtige fremtid</h3>

          </div>
        </div>
      </div>

</section>


<section class="parallax-section">
</section>

<h4> Sammen står vi for en mere bæredygtig fremtid for Danmark.</h4>


<footer>
  <img class="footer-logo" src="https://img.freepik.com/premium-vector/circular-illustration-green-bucket-with-leaves_339976-60626.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid">
  <div class="socials">
    <p>Socials: </p>
    <a class="facebook-icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAcFJREFUSEu11T+oT2EYwPHPLYUwyCIki0GRjKRkEJIuMYgsFDKIlAzyJxnUFQburTtYlEEU+TORQWajvyXCYjAoinCeen86vZ3znt8P92znff58n+d9/rxDJvgbmmD/ugCTsQXrsBQL8Atv8BT3cRPf2wItAdbjcnJaSvQV9uFBk1Ib4GQV6YkBru8njuBcbtMEOIXjAzivqx7ExfpBDtiI2wXnn3AYj/A26Y2ks/iNTFbhcc9HHTAdLzG7BfADi/E8k9cBIQr5kl7h64Ao1Ggh+mvYXpOvwQqsxfLMbhNuxVkdcAcbCoBjOJPkW3G9oDuOPTngPeYUjA7hQpJHMc8XdGNGluWAr5jynwCfq26amQO+YFoG+NiRVag/xOrMLnzNyAEvsDBT/IC5HTPxDvMynWdYlAOuVm26Y8AMYld9awjgSjUnu3LANkQrtn2DFLmxTSfhNea3EPoF/LmePIP4jw167x8AscpX4knPR9Oyi2V1oAHSTwan80XZBIizsd4k1kBdgLNVwY/mgZUenJ1pWmclozZAbIC9uNt0tV1P5lTsxub0NF5KTvZjuNqaNxAt+VdPZsd89SfuyqA/LwWt33YeVhnsaaE0AAAAAElFTkSuQmCC"/></a>
    <a class="instagram-icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAeNJREFUSEvF1T+ozmEUB/DPdUlSN5KUwcLtJv/jjpiMZHCVYjESxSCDlAwGJYrproRBYpJFuotYkKRkUCYWhZL/z9Hze3s8fr/cN73dM73vOec533O+589vyIBlaMDxzRjAchzFZqymM5GfeIYpnMfLmpG2Cg5k5zl90vcVBzFZvqsBNuIhZvUZvHH/hk140ihqgJvY2Ufwt1iDCVzM724k2nZ1AbzGshaANziD51iEMRxH+AdAZP0ov3uFFV0AHzG/AribM/qAxdn2DqtwB59SzxZgSbaF30gbQPD+vQoegUZzsL3Yipic+ynLyxjOE1Q+iz70BqTsQSi/VABncSxlfgkxXaUE54dwG9sLQyQ5u62CUMaolbIft3LGsQ+lPMU6nEx7cqow/MiV/VaVFcTvMJYSc30tUXMPayvb4wS+ASdSwNOVrRe3HtPgt5TgeR8u4HBli809kivcUdg6exA+NUBUtB7zsAdbcqBo8tU0unNbmvw5+/9FUSjaxjRmPZYvKCkl7lTQt7TSv08VL2x0NUVxrHpLUjUuNrRctG1V4ObvC6zsArieguzueDhd9RXEzrRSNI4H/3ns4mDGCLcChHKg57oBLj84ccy6pPzgnEsjHYfuD5mxT+Z0G/pPv4FX8AszSlgZRYBdrAAAAABJRU5ErkJggg=="/></a>
    <a class="linkedin-icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAASxJREFUSEvl1TsvBFEYh/HfCp2Igso3oNXoKFQKIa6hk/AtJD6GS4m4h0InLo1G7xPoRKUl7Elem81erZndxlQzOe88z5z/Oe+cgjZfhTbzdVxwh/GMs7rHxA+jcgZfGeFV3EaC66ie+oO0xK0nOMBqgA+x3KKkqWAX6wHdw1regnfsowsr6M1b8IrngA5jsLgzHuJ5CP3YxgdGMFfxAU0jOsZSvHSERUo9M4MnvJRBN4vjW2XPTQUnAU3vJNlCxFVvG3fjDX0hySTowRVGQ5waK12PGMtDkLr0NkA72Ij7S0znIUhrcBGgWlGmoaYRncb0U3GCzCPl/IlZnIfgLMbK6/6JoFGjDURzpShq1f0qohb/DFXldRc5jwPnBpM/yo4fmVmjqZ9V7uQAfgNR+VIZag7oTQAAAABJRU5ErkJggg=="/></a>
  </div>
  <p><strong>Address: </strong>Guldbergsgade 29N, 2200 København</p>
  <p><strong>CVR: </strong>12356345</p>
</footer>


</body>
</html>

</body>
</html>