<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virksomhed</title>
    <link rel="stylesheet" type="text/css" href="/CSS-Virksomhed.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
</head>
<body>




<nav class="navigation-bar">
    <a href="/index" class="logo-link">
        <img class="logo" src="https://img.freepik.com/premium-vector/circular-illustration-green-bucket-with-leaves_339976-60626.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid" alt="Logo">
    </a>
    <div class="nav-links">
        <a href="/organisation" class="nav-item">Organisation</a>
        <a href="/virksomhed" class="nav-item">Virksomhed</a>
        <a href="/about" class="nav-item">Om os</a>
    </div>
</nav>

<div class="section-container">
    <div class="text-content">
        <h2>Doner Mad</h2>
        <h3>Samarbejde med os til at reducerer madspild og hjælpe med at gøre en positivt indsats!</h3>
        <p>
        Hjælp med at reducere madspild ved at donere overskudsmad til dem i nød.Indgå partnerskaber med lokale organisationer for at gøre en forskel.
        Virksomheder, der donerer overskudsmad, kan ikke kun hjælpe samfundet, men også nyde godt af skatteincitamenter og forbedre deres bæredygtighedsprofil.
        Donationen af overskudsmad gavner både miljøet og lokalsamfundet. Det reducerer CO₂-udledningen og sikrer, at mad, der ellers ville blive smidt væk, kan hjælpe dem, der har behov for det. Vi giver vejledning om korrekt opbevaring og transport af mad, så det kan nå frem til de rigtige modtagere på en sikker måde.
        Virksomheder, der engagerer sig i maddonation, kan se positive effekter på deres brand ved at fremme et billede af ansvarlighed og samfundsansvar. Der er også mulighed for at deltage i vores events og kampagner, som hjælper med at øge bevidstheden om madspild.<p>
    </p>
        <strong>Hvor støtten går hen:</strong> Donationsmidlerne går direkte til lokale organisationer som fødevarebanker, hjemløse herberger og andre sociale initiativer, der arbejder for at støtte sårbare grupper i samfundet. Ved at donere, kan virksomheder hjælpe med at sikre, at overskudsmad når dem, der har brug for det mest.

        <strong>Hvem skal kontaktes:</strong> Hvis du ønsker at donere mad, kan du kontakte en af vores medarbejder hos <strong>Danmark Mod Madspil</strong>. De kan give detaljer om donationernes krav, samt hjælpe med at arrangere afhentning af maden. For at finde den rette organisation, kan du kontakte os direkte via: <strong>Dkmodmadspil@gmail.com</strong>.

        </p>
    </div>
    <div class="image-content">
        <img src="/Images/foodwaste.jpg" alt="Doner Mad" class="donerMad" />
    </div>
</div>

<div class="Background1"></div>

<div class="section-container">
    <div class="text-content">
        <h2>Madspild i Danske Virksomheder </h2>
        <p>
        I 2024 står danske virksomheder over for både udfordringer og muligheder, når det kommer til madspild. Madspild er et væsentligt problem, da det ikke kun fører til økonomiske tab, men også har en betydelig miljøpåvirkning.
        Hvert år går store mængder mad til spilde i detailhandel, fødevareproduktion og cateringindustrien.Initiativer som at donere overskudsmad til velgørende formål, optimere lagerstyring og indføre bedre datomærkning kan hjælpe virksomheder med at reducere madspild og skabe værdi.
        Regeringens mål om at reducere madspild og skære i CO₂-udledningerne har desuden gjort bæredygtige praksisser til en konkurrencemæssig fordel.
        Ved at samarbejde med lokale organisationer, implementere teknologier til sporing af fødevarespild og uddanne medarbejdere i madspildsbevidsthed, kan virksomheder forbedre både deres bundlinje og miljøpåvirkning.
        </p>
    </div>
    <div class="image-content">
        <img src="/Images/graph.jpg" alt="Statistisk" class="graph"/>
    </div>
</div>

<div class="Background2"></div>

<div class="section-container">
    <div class="text-content">
        <h2>Partner med Os</h2>
        <p>
        Kontakt os for at diskutere samarbejdsprojekter, lære om vores donationskrav eller få yderligere information om vores initiativer for at bekæmpe madspild.
        Vi tilbyder forskellige muligheder for samarbejde, herunder workshops, fælles kampagner og uddannelsesressourcer for virksomheder, der ønsker at implementere bæredygtige praksisser.
        Vi opfordrer også virksomheder til at melde sig til frivillige programmer, hvor deres medarbejdere kan bidrage til vores mission om at reducere madspild.
        Ved at samarbejde kan vi skabe stærkere fællesskaber og reducere madspild betydeligt på tværs af branchen.
        <strong>Address: </strong>Guldbergsgade 29N, 2200 København
        <strong>CVR: </strong>12356345
        </p>
    </div>
    <div class="image-content">
        <img src="/Images/partner.jpg" alt="Partner med Os" class="partner"/>
    </div>
</div>



<footer>
    <img class="footer-logo" src="https://img.freepik.com/premium-vector/circular-illustration-green-bucket-with-leaves_339976-60626.jpg?ga=GA1.1.519555005.1729767876&semt=ais_hybrid">
    <div class="socials">
        <p>Socials: </p>
        <a><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAcFJREFUSEu11T+oT2EYwPHPLYUwyCIki0GRjKRkEJIuMYgsFDKIlAzyJxnUFQburTtYlEEU+TORQWajvyXCYjAoinCeen86vZ3znt8P92znff58n+d9/rxDJvgbmmD/ugCTsQXrsBQL8Atv8BT3cRPf2wItAdbjcnJaSvQV9uFBk1Ib4GQV6YkBru8njuBcbtMEOIXjAzivqx7ExfpBDtiI2wXnn3AYj/A26Y2ks/iNTFbhcc9HHTAdLzG7BfADi/E8k9cBIQr5kl7h64Ao1Ggh+mvYXpOvwQqsxfLMbhNuxVkdcAcbCoBjOJPkW3G9oDuOPTngPeYUjA7hQpJHMc8XdGNGluWAr5jynwCfq26amQO+YFoG+NiRVag/xOrMLnzNyAEvsDBT/IC5HTPxDvMynWdYlAOuVm26Y8AMYld9awjgSjUnu3LANkQrtn2DFLmxTSfhNea3EPoF/LmePIP4jw167x8AscpX4knPR9Oyi2V1oAHSTwan80XZBIizsd4k1kBdgLNVwY/mgZUenJ1pWmclozZAbIC9uNt0tV1P5lTsxub0NF5KTvZjuNqaNxAt+VdPZsd89SfuyqA/LwWt33YeVhnsaaE0AAAAAElFTkSuQmCC"/></a>
        <a><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAeNJREFUSEvF1T+ozmEUB/DPdUlSN5KUwcLtJv/jjpiMZHCVYjESxSCDlAwGJYrproRBYpJFuotYkKRkUCYWhZL/z9Hze3s8fr/cN73dM73vOec533O+589vyIBlaMDxzRjAchzFZqymM5GfeIYpnMfLmpG2Cg5k5zl90vcVBzFZvqsBNuIhZvUZvHH/hk140ihqgJvY2Ufwt1iDCVzM724k2nZ1AbzGshaANziD51iEMRxH+AdAZP0ov3uFFV0AHzG/AribM/qAxdn2DqtwB59SzxZgSbaF30gbQPD+vQoegUZzsL3Yipic+ynLyxjOE1Q+iz70BqTsQSi/VABncSxlfgkxXaUE54dwG9sLQyQ5u62CUMaolbIft3LGsQ+lPMU6nEx7cqow/MiV/VaVFcTvMJYSc30tUXMPayvb4wS+ASdSwNOVrRe3HtPgt5TgeR8u4HBli809kivcUdg6exA+NUBUtB7zsAdbcqBo8tU0unNbmvw5+/9FUSjaxjRmPZYvKCkl7lTQt7TSv08VL2x0NUVxrHpLUjUuNrRctG1V4ObvC6zsArieguzueDhd9RXEzrRSNI4H/3ns4mDGCLcChHKg57oBLj84ccy6pPzgnEsjHYfuD5mxT+Z0G/pPv4FX8AszSlgZRYBdrAAAAABJRU5ErkJggg=="/></a>
        <a><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAASxJREFUSEvl1TsvBFEYh/HfCp2Igso3oNXoKFQKIa6hk/AtJD6GS4m4h0InLo1G7xPoRKUl7Elem81erZndxlQzOe88z5z/Oe+cgjZfhTbzdVxwh/GMs7rHxA+jcgZfGeFV3EaC66ie+oO0xK0nOMBqgA+x3KKkqWAX6wHdw1regnfsowsr6M1b8IrngA5jsLgzHuJ5CP3YxgdGMFfxAU0jOsZSvHSERUo9M4MnvJRBN4vjW2XPTQUnAU3vJNlCxFVvG3fjDX0hySTowRVGQ5waK12PGMtDkLr0NkA72Ij7S0znIUhrcBGgWlGmoaYRncb0U3GCzCPl/IlZnIfgLMbK6/6JoFGjDURzpShq1f0qohb/DFXldRc5jwPnBpM/yo4fmVmjqZ9V7uQAfgNR+VIZag7oTQAAAABJRU5ErkJggg=="/></a>
    </div>
    <p><strong>Address: </strong>Guldbergsgade 29N, 2200 København</p>
    <p><strong>CVR: </strong>12356345</p>
</footer>

</body>
</html>
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAcFJREFUSEu11T+oT2EYwPHPLYUwyCIki0GRjKRkEJIuMYgsFDKIlAzyJxnUFQburTtYlEEU+TORQWajvyXCYjAoinCeen86vZ3znt8P92znff58n+d9/rxDJvgbmmD/ugCTsQXrsBQL8Atv8BT3cRPf2wItAdbjcnJaSvQV9uFBk1Ib4GQV6YkBru8njuBcbtMEOIXjAzivqx7ExfpBDtiI2wXnn3AYj/A26Y2ks/iNTFbhcc9HHTAdLzG7BfADi/E8k9cBIQr5kl7h64Ao1Ggh+mvYXpOvwQqsxfLMbhNuxVkdcAcbCoBjOJPkW3G9oDuOPTngPeYUjA7hQpJHMc8XdGNGluWAr5jynwCfq26amQO+YFoG+NiRVag/xOrMLnzNyAEvsDBT/IC5HTPxDvMynWdYlAOuVm26Y8AMYld9awjgSjUnu3LANkQrtn2DFLmxTSfhNea3EPoF/LmePIP4jw167x8AscpX4knPR9Oyi2V1oAHSTwan80XZBIizsd4k1kBdgLNVwY/mgZUenJ1pWmclozZAbIC9uNt0tV1P5lTsxub0NF5KTvZjuNqaNxAt+VdPZsd89SfuyqA/LwWt33YeVhnsaaE0AAAAAElFTkSuQmCC"/>
